.okp4-dashboard-dataspace-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 25px;
  align-items: center;

  .okp4-dataspace-card {
    display: grid;
    justify-items: center;

    .okp4-dataspace-card-header {
      padding-top: 10px;
      text-align: end;
      text-transform: capitalize;
    }
    .okp4-dataspace-card-footer {
      padding-bottom: 10px;
    }
  }
}
