@import '@okp4/ui/lib/scss/themes';

.okp4-dashboard-dataspace-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, 277px);
  gap: 25px;
  align-items: center;
  justify-content: space-between;

  @media screen and (min-width: 1301px) and (max-width: 1467px), (max-width: 1060px) {
    justify-content: space-around;
  }

  .okp4-dataspace-card-header {
    padding-top: 10px;
    text-align: end;
    text-transform: capitalize;
  }

  .okp4-dataspace-card-footer {
    padding-bottom: 10px;
  }

  a {
    text-decoration: none;
  }

  &.dark {
    .okp4-card-container {
      background: center/cover no-repeat
        url('../../../assets/images/card-background-dataspace-content_dark.png') !important;
    }
  }

  &.light {
    .okp4-card-container {
      background: center/cover no-repeat
        url('../../../assets/images/card-background-dataspace-content_light.png') !important;
    }
  }
}
