@import '@okp4/ui/lib/scss/themes.scss';
.okp4-body-main {
  @include with-theme() {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 100px;

    @media screen and (max-width: 1300px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 50px;
    }

    @media screen and (max-width: 995px) {
      grid-template: auto 1fr /1fr;
      gap: 50px 0;
    }

    .okp4-body-dashboard {
      min-width: 330px;
      grid-column: 1/4;
      display: grid;
      grid-auto-rows: minmax(50px, auto);
      row-gap: 30px;
      @media screen and (max-width: 1300px) {
        grid-column: 1/3;
      }
      @media screen and (max-width: 995px) {
        grid-column: 1;
      }
      .okp4-dashboard-dataspace-options {
        grid-row: 3;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 25px;
        @media screen and (max-width: 1300px) {
          grid-row: 3;
        }
        @media screen and (max-width: 995px) {
          grid-area: 3/ 1;
          grid-template: repeat(2, 1fr) / 1fr;
          gap: 25px;
        }
      }
    }
    .okp4-body-activity {
      grid-column: -1/-2;
      @media screen and (max-width: 1300px) {
        grid-column: 1/3;
      }
    }
  }
}
