@import '@okp4/ui/lib/scss/themes.scss';

.layout {
  @include with-theme {
    height: 100%;
    overflow: auto;
    background: themed('header-background');
    display: grid;

    .okp4-header-main {
      &.with-navigation {
        /* This is a hack to make sure the grids have enough width
        * TODO: remove this hack when this is fixed in the @okp4/ui
        */
        grid-template-columns: auto 1fr auto;

        @media screen and (max-width: 995px) {
          grid-template-columns: repeat(3, 1fr);
        }
        // End of hack

        .okp4-header-navigation-row-list {
          max-width: 960px;
        }

        a {
          text-decoration: none;
          color: themed(text);
        }

        /*
        Header hack:
        We are hacking the behaviour of the Header component by removing the Header
        arrows from document flow and nulling the opacity style change when the 
        class is not current. We are obligated to it this way since the Header currently 
        adds the arrows to the menuItem when clicked indiscriminatory of wether or not 
        you want it.
        */
        .okp4-header-navigation-item-container > div {
          opacity: 1 !important;

          svg {
            display: none;
          }

          .okp4-header-navigation-interior-item {
            &.row {
              display: grid;
              justify-items: center;
            }

            &.burger {
              display: flex;
              align-items: center;

              svg {
                margin-right: 5px;
              }
            }

            &.current {
              opacity: 0.6;

              > svg {
                display: grid;
              }
            }
          }
        }
        // End of hack
      }
    }

    main {
      background-repeat: no-repeat;
      color: themed('text');
      padding: 70px 130px 35px;

      @media screen and (max-width: 1300px) {
        padding: 50px 90px 25px;
      }

      @media screen and (max-width: 995px) {
        padding: 50px 70px 25px;
      }
      @media screen and (max-width: 480px) {
        padding: 25px 20px;
      }
    }

    .okp4-footer-main {
      .okp4-footer-last-element {
        display: grid;
        grid-auto-flow: column;
        grid-template: auto / auto auto;
        gap: 10px 40px;

        .okp4-footer-last-element-social-medias {
          display: grid;
          grid-auto-flow: column;
          align-items: center;
          grid-template-columns: repeat(auto-fit, minmax(20px, auto));
          gap: 10px;

          .okp4-footer-last-element-icon:hover {
            opacity: 0.5;
          }
        }

        .okp4-brand-link {
          text-decoration: unset;
          color: inherit;
        }

        @media screen and (max-width: 480px) {
          grid-template: auto auto / auto;
          justify-items: center;
        }
      }

      @media screen and (max-width: 480px) {
        min-height: auto;
      }
    }
  }
}
