@import '@okp4/ui/lib/scss/themes.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

  div#__next,
  div#__next > div {
    height: 100%;
  }
}

main {
  @include with-theme {
    height: 100%;
    overflow: auto;
    background: themed('header-background');

    .okp4-portal-content {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-repeat: no-repeat;
      color: themed('text');

      .okp4-brand-link {
        text-decoration: unset;
        color: inherit;
      }

      .okp4-footer-main {
        margin-top: 30px;
      }
    }

    .okp4-portal-card-layout {
      background: themed(text);
      border-radius: 9px;
      padding: 20px;
      height: fit-content;
    }
  }
}

.okp4-explore-main {
  max-width: 1140px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-areas:
    'header header header'
    '. configuration configuration'
    'filters list list';
  gap: 25px;

  @media screen and (max-width: 1300px) {
    max-width: 950px;
    grid-template-areas:
      'header header header'
      'configuration configuration configuration'
      'filters filters filters'
      'list list list';
  }

  @media screen and (max-width: 995px) {
    max-width: 90%;
  }

  .okp4-explore-title {
    grid-area: header;
  }

  .okp4-explore-list-configuration {
    grid-area: configuration;
  }

  .okp4-explore-list {
    grid-area: list;

    .okp4-list-main {
      gap: 30px;
    }
  }

  .okp4-explore-filters {
    grid-area: filters;
  }
}
