@import '/src/components/dataset/datasetInformation/datasetInformation.scss';
@import '/src/components/dataset/datasetPreview/datasetPreview.scss';
@import '/src/components/dataspaceDashboard/dataspaceEntities/dataspaceEntities.scss';
@import '/src/components/dataspaceDashboard/dataspaceOptions/dataspaceOptions.scss';
@import '/src/components/dataspaceDashboard/dataspaceSummary/dataspaceSummary.scss';
@import '/src/components/explore/exploreFilters/ExploreFilters.scss';
@import '/src/components/explore/exploreList/exploreList.scss';
@import '/src/components/explore/exploreListConfiguration/exploreListConfiguration.scss';
@import '/src/components/dataspace/governance/governanceSummary/governanceSummary.scss';
@import '/src/components/layout/layout.scss';
@import '/src/components/previousPageButton/previousPageButton.scss';
@import '/src/components/pageTitle/pageTitle.scss';
@import '/src/pages/dataverse/index.scss';
@import '/src/pages/dataverse/explore/explore.scss';
@import '/src/pages/dataverse/explore/dataspace/[dataspaceId]/dataset/datasetId.scss';
@import '/src/pages/dataverse/dataspace/[dataspaceId]/governance/governance.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

  > div:first-of-type,
  > div:first-of-type > div:first-of-type {
    height: 100%;
  }
}
