@import '@okp4/ui/lib/scss/themes.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;

  div#__next,
  div#__next > div {
    height: 100%;
  }
}

main {
  @include with-theme {
    height: 100%;
    overflow: auto;
    background: themed('header-background');

    .okp4-portal-content {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-repeat: no-repeat;
      color: themed('text');

      .okp4-brand-link {
        text-decoration: unset;
        color: inherit;
      }

      .okp4-footer-main {
        margin-top: 30px;
      }
    }

    .okp4-portal-card-layout {
      background: themed(text);
      border-radius: 9px;
      padding: 20px;
      height: fit-content;
    }
  }
}
