@import '@okp4/ui/lib/scss/themes.scss';

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  height: 100%;

  div#__next,
  div#__next > div {
    height: 100%;
  }
}

.okp4-portal-main {
  @include with-theme {
    height: 100%;
    overflow: auto;
    background: themed('header-background');

    .okp4-portal-content {
      min-height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      background-repeat: no-repeat;

      .okp4-brand-link {
        text-decoration: unset;
        color: inherit;
      }
    }
  }
}
