@import '@okp4/ui/lib/scss/themes';

.okp4-dataverse-information {
  @media screen and (max-width: 480px) {
    .okp4-dataverse-information-container {
      &:last-child {
        margin-top: 15px;
      }
    }
  }

  .okp4-dataverse-background-image {
    position: relative;
    height: 175px;

    img {
      border-radius: 9px 9px 0px 0px;
    }
  }

  .okp4-dataverse-information-container {
    &:not(:first-child) {
      margin-top: 15px;
    }

    h2 {
      margin-top: 0px;
    }

    p {
      margin: 0px;
      line-height: 20px;
    }

    .okp4-dataverse-governance {
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 700px) {
        gap: 10px;
      }

      button {
        align-self: flex-end;
      }
    }
  }

  .okp4-dataverse-metadata {
    margin-top: 10px;

    .okp4-dataverse-metadata-row {
      display: flex;
      padding: 12px 15px;

      &:nth-child(odd) {
        background-color: #293d66;
      }

      .name {
        margin: auto 0px;
        width: 40%;
      }

      .value {
        display: flex;
        width: 60%;
      }
    }
  }

  .okp4-dataverse-information-container.dark {
    @include with-theme {
      span,
      p {
        color: themed(inverted-text);
      }

      .okp4-dataverse-metadata {
        .okp4-dataverse-metadata-row {
          &:nth-child(odd) {
            span {
              color: themed(text);
            }
          }
        }
      }
    }
  }

  .okp4-dataverse-information-container.light {
    @include with-theme {
      h2 {
        color: themed(text);
      }

      .okp4-dataverse-metadata {
        .okp4-dataverse-metadata-row {
          &:nth-child(odd) {
            span {
              color: themed(inverted-text);
            }
          }
        }
      }
    }
  }
}
