@import '@okp4/ui/lib/scss/themes';

.okp4-dataset-id {
  max-width: 1140px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'title title title'
    'back back back'
    'preview information information'
    'preview information information';
  gap: 25px;

  @media screen and (max-width: 1300px) {
    max-width: 950px;
    grid-template-areas:
      'title title title'
      'back back back'
      'preview preview preview'
      'information information information';
  }

  @media screen and (max-width: 995px) {
    max-width: 90%;
  }

  @include with-theme {
    .okp4-dataset-card-layout {
      background: themed(text);
      border-radius: 9px;
      padding: 20px;
      height: fit-content;
    }
  }

  .okp4-page-title {
    grid-area: title;
  }

  .okp4-go-to-previous-page {
    grid-area: back;
  }

  .okp4-dataset-preview {
    grid-area: preview;
  }

  .okp4-dataset-information {
    grid-area: information;
  }
}
