.okp4-dataspace {
  max-width: 1350px;
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-areas:
    'title title title'
    '. configuration configuration'
    'filters list list';
  gap: 25px;

  @media screen and (max-width: 1400px) {
    max-width: 950px;
    grid-template-areas:
      'title title title'
      'configuration configuration configuration'
      'filters filters filters'
      'list list list';
  }

  @media screen and (max-width: 995px) {
    max-width: 90%;
  }

  .okp4-page-title {
    grid-area: title;
  }

  .okp4-dataspace-list-configuration {
    grid-area: configuration;
  }

  .okp4-dataspace-list {
    grid-area: list;

    .okp4-list-main {
      gap: 30px;
    }
  }

  .okp4-dataspace-filters {
    grid-area: filters;
  }
}
