.okp4-dataset-preview {
  display: flex;
  flex-direction: column;
  gap: 10px;

  h2 {
    text-transform: capitalize;
    margin: 0;
  }

  span {
    &:nth-child(5) {
      text-align: end;
    }
  }

  button {
    margin: 10px auto 0;
  }
}
